.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c7c8b9;
    padding: 15px 7%;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.logo{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.logo:hover{
    box-shadow: 0 0 20px #080606;
}
.dark .logo:hover{
    box-shadow: 0 0 20px #ddcdcd;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

.navbar a{
    text-decoration: none;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #333131;
    font-weight: 700;
}

ul li:hover{
    box-shadow: 0 0 15px rgb(21, 32, 32);
    color: #1f1919;
    border-radius: 10px;
    padding: 5px;
}
.dark ul li{
    color: aliceblue;
}
.dark ul li:hover{
    box-shadow:  0 0 15px khaki;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.toggle-icon:hover{
    box-shadow: 0 0 20px #242424;
    border-radius: 50px;
}

.dark .toggle-icon:hover{
    box-shadow: 0 0 20px #dfd9d9;
    border-radius: 50px;
}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #ddcdcd;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    cursor: pointer;
}

.dark .navbar{
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #222;
    box-shadow: 5px 5px skyblue;
}

.dark .search-box input{
    color: skyblue;
}

.dark .search-box input::placeholder{
    color: skyblue;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav ul li {
    list-style: none; 
 }

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}